<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Struts Blank With Security Addons</display-name>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Struts2SecurityAddon: Catch errors and 404 not handled by struts -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/CustomError.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/CustomError.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/CustomError.jsp</location>
    </error-page>       

<!-- Struts2SecurityAddon: the requireSSL interceptor invalidates cookies
             if the user connects over an unencrypted connection.  The
             user-data-constraint simply redirects the user to an SSL enabled
             connection.  This may allow an attacker to hijack a user's session
             cookie using applications like CookieMonster
             (http://fscked.org/projects/cookiemonster).

             We need to invalidate all cookies sent over an unencrypted connection,
             so this constraint is disabled to allow the requireSSL interceptor to
             do its job.
             
    <security-constraint>
        <display-name>SSL Is Required</display-name>
        <web-resource-collection>
            <web-resource-name>Match All - SSL Is Required</web-resource-name>
                <description/>
                <url-pattern>/*</url-pattern>
            </web-resource-collection>        

        <user-data-constraint>
            <description>SSL is required</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        
    </security-constraint>
    -->
    
    </web-app>
